#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.nodejs:hover {
  filter: drop-shadow(0 0 2em #68a063aa);
}

.logo.expressjs:hover {
  filter: drop-shadow(0 0 2em #e7d8d8aa);
}

.logo.flask:hover {
  filter: drop-shadow(0 0 2em #bfc813aa);
}

.logo.mongodb:hover {
  filter: drop-shadow(0 0 2em #47a248aa);
}

.logo.langchain:hover {
  filter: drop-shadow(0 0 2em #ef4444aa);
}

.logo.python:hover {
  filter: drop-shadow(0 0 2em #3776abaa);
}

.logo.fastapi:hover {
  filter: drop-shadow(0 0 2em #009688aa);
}

.logo.openai:hover {
  filter: drop-shadow(0 0 2em #10a350aa);
}

.button {
  font-weight: 700;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-family: inherit;
  background-color: #646cff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
}

.button:hover {
  background-color: #535bf2;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.title {
  font-size: 3em;
  color: #888;
}

.courses {
  font-size: 1.2em;
  color: grey;
  margin: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.courses:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}